{{ define "main" }}
  {{ if eq .Params.adminType "login" }}
    {{ partial "admin/login" . }}
  {{ else if eq .Params.adminType "articles" }}
    {{ partial "admin/articles" . }}
  {{ else if eq .Params.adminType "comments" }}
    {{ partial "admin/comments" . }}
  {{ else }}
    {{ partial "admin/dashboard" . }}
  {{ end }}
{{ end }}

{{ define "admin_content" }}
  {{ if eq .Params.adminType "login" }}
    {{ partial "admin/login" . }}
  {{ else if eq .Params.adminType "articles" }}
    {{ partial "admin/articles" . }}
  {{ else if eq .Params.adminType "comments" }}
    {{ partial "admin/comments" . }}
  {{ else }}
    {{ partial "admin/dashboard" . }}
  {{ end }}
{{ end }}
